{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the club page</h1>
        <p>You'll find all the information you need to see who's top and who to beat</p>
    </div>
        <div class="row">
            <div class="col-sm-12">
            <h2>How to use the site</h2>
            <ul>
            <li>To view your rides and data hit the big button below</li>
            <li>To start off with you can view all the riders or just yourself(The number next to the name is how many rides ridden)</li>
            <li>You can use the pie charts to filter by year and then by quarter to see what miles and climbing is being done in those quarters and see how much of all that important Kudos your getting</li>
            <li>You can use the row charts to compare yourself against the other riders in the group against miles and elevation</li>
            <li>The bar charts can give you an insight into how many miles and climbing your doing in each month. Choosing the pie chart years and quarters will filter the bar charts along with selecting a rider</li>
            </ul>
                <a href="/graphs"><button class="btn btn-warning"><span class="fa fa-bicycle" aria-hidden="true"></span>Compare rides<span class="fa fa-bicycle" aria-hidden="true"></span></button></a>
            </div>
        </div>
</div>
{% endblock %}
