{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="infobox">
            <div class="col-sm-4">
                <h4>David Scott</h4>
                <img class="imgcircle" src="static/css/img/scotty.jpg">
                <p>David Scott - The novice, most likely seen riding his bike with his missus, in amsterdam</p>
            </div>
            <div class="col-sm-4">
                <h4>Glen Kissack</h4>
                <img class="imgcircle" src="static/css/img/glen.jpg">
                <p>Glen Kissack - Often on a ship, when he's not, he's cycling or doing up his house</p>
            </div>
            <div class="col-sm-4">
                <h4>Tom White</h4>
                <img class="imgcircle" src="static/css/img/tom.jpg">
                <p>Tom White - Likes cycling, hates corners, Don't ask, he won't remember. </p>
            </div>
        </div>
        <div class="infobox">
            <div class="col-sm-4">
                <h4>James Sanderson</h4>
                <img class="imgcircle" src="static/css/img/james.jpg">
                <p>James Sanderson - Likes hills, likes cycling, averaged 20mph once. </p>
            </div>
             <div class="col-sm-4">
                 <h4>Alex White</h4>
                 <img class="imgcircle" src="static/css/img/alex.jpg">
                <p>Alex White - Brother of Tom White, friendly rivalry it seems with his brother. </p>
            </div>
             <div class="col-sm-4">
                 <h4>John Prosser</h4>
                 <img class="imgcircle" src="static/css/img/john.jpg">
                <p>John Prosser - Leader of the gang, slowed down a bit since he became a dad. </p>
            </div>
        </div>
    </div>
{% endblock %}