{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="infobox">
            <div class="col-sm-4">
                <h4>David 'The Novice' Scott</h4>
                <img class="imgcircle" src="static/css/img/scotty.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
            <div class="col-sm-4">
                <h4>Glen 'Massive Calfs' Kissack</h4>
                <img class="imgcircle" src="static/css/img/glen.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
            <div class="col-sm-4">
                <h4>Tom 'Can't corner' White</h4>
                <img class="imgcircle" src="static/css/img/tom.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
        </div>
        <div class="infobox">
            <div class="col-sm-4">
                <h4>James 'The Goat' Sanderson</h4>
                <img class="imgcircle" src="static/css/img/james.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
             <div class="col-sm-4">
                 <h4>Alex 'Malt Loaf' White</h4>
                 <img class="imgcircle" src="static/css/img/alex.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
             <div class="col-sm-4">
                 <h4>John 'The Domestique' Prosser</h4>
                 <img class="imgcircle" src="static/css/img/john.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sapiente tenetur veniam! Atque cum deserunt eos, esse illum iste iure laudantium libero maiores, modi nemo quam quisquam sed sint soluta.</p>
            </div>
        </div>
    </div>
{% endblock %}